body {
    margin: 0;
    background-image: url(/img/coffee1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#content {
    display: grid;
    grid-template-rows:  3fr 2.7fr .5fr;
    grid-template-columns: 1fr;
}


nav {
    background-color: rgba(0, 0, 0, 0.7);
    height: 80px;
    width: 100%;
    position:sticky;
    top: 0;
    margin: 0px;
    margin-bottom: 100px;
    display: flex;
    justify-content:center;
    font-size: 25px;
    gap: 30px;
}

nav button {
    font-size: large;
    background-color: transparent;
    color: white;
    padding: 20px;
    border: transparent;
}

nav button:hover {
    text-decoration: underline;
    cursor: pointer;
    transform: translateY(-10%);
}

.title {
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: sticky;
    top: 120px;
}



.info {
    background-color: white;
    grid-row: 2 / 3;
    text-align: center;
}

.info-text {
    margin-left: 50px;
    margin-right: 50px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 500px;
    height: 300px;
    margin: 30px;
    border-radius: 20px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right {
    background-image: url(/img/Menu.jpg);
    background-size: cover;
}

.right:hover {
    cursor: pointer;
}

.left {
    background-image: url(/img/orderOnline.jpg);
    background-size: cover;
}

.left:hover {
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    grid-row: 3 / 4;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
} 